<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>
    <env-entry>
        <env-entry-name>URL</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>https://ssbd03tua.tk:8433</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>TRANSACTION_LIMIT</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>3</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>CAPTCHA_KEY</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>CAPTCHA_ENDPOINT</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>https://www.google.com/recaptcha/api/siteverify</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>SECRET_KEY_LENGTH</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>32</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>AUTH_SECRET_KEY</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Yq3t6w9z$C#F)J@NcQfTjWnZr4u7x!A%</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>TOKEN_VALIDITY_MINUTES</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>60</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>PASSWORD_RESET_TOKEN_LENGTH</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>16</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>MAIL_SMTP_SERVER</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>in-v3.mailjet.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>MAIL_SMTP_PORT</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>587</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>MAIL_USERNAME</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>fc64a0991ec72d88bd14500b5dd59c94</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>MAIL_PASSWORD</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>1c0bc3a5f4850cab3753528db2793a8e</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>MAIL_ADDRESS</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>216906@edu.p.lodz.pl</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>UNSUCCESSFUL_LOGIN_COUNT</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>3</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>CONSTRAINT_UNIQUE_FOR_STARSHIP_NAME</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>starship_name_unique</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>CONSTRAINT_UNIQUE_FOR_ACCOUNT_EMAIL</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>email_unique</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>ACCEPTED_CATEGORY</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Accepted</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>RESERVE_CATEGORY</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Reserve</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>REJECTED_CATEGORY</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Rejected</env-entry-value>
    </env-entry>

</web-app>